@model ApplicationCore.Models.MovieDetailsResponseModel
    <!--

    <!--<div width="100%" class="container" style="position: relative; text-align: center; color: white;">


            <img height="400px" width="100%" src="@Model.BackdropUrl" />-->
    -->
    <!--@*<img height="400px" width="200px" style="background-position: fixed; position: absolute; top: 0px; left: 150px; z-index: 2;" src="@Model.PosterUrl" />*@-->
    <!--<!--<img height="399px" width="200px" style="position: absolute; top: 44%; left: 50%; transform: translate(-50%, -50%);" src="@Model.PosterUrl" />
            <h5 style="">@Model.Title</h5>
            <p>@Model.Tagline</p>


    </div>-->
    <!--<div class="container" style="position: relative; text-align: left; color: white;">
        <img src="@Model.BackdropUrl" style="width:100%;">
        <div class="" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); ">

                <img height="265px" width="200px" src="@Model.PosterUrl" />

        </div>
        <div style="position: absolute; top: 8px; right: 16px;" class="grid">
            <div class="g-col-4 g-start-6">
                <h4 style="">@Model.Title</h4>
                <p>@Model.Tagline</p>
                <h6>@Model.RunTime</h6>
                <button>@Model.Rating</button>
                <p>@Model.Overview</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col">
            <partial name="_MovieCast" model="@Model.Casts" />
        </div>
    </div>-->
    @*<div width="100%" class=".col-6 .col-md-4">
                 <div class="">
                     <img widht="100%" style="position: relative; top: 10px; left: 10px; z-index: 1;" src="@Model.BackdropUrl" class="img" />

                     <img width="12%" style="position: absolute; top: 25px; left: 1575px; z-index: 2;" src="@Model.PosterUrl" class="img-fluid" />
                 </div>
             </div>

             <div class="container">
                 <partial name="_MovieCast" model="@Model.Casts" />
             </div>
        -->*@



